.hexEditorPane {
    font-family: monospace;
    width: auto; 
    height: auto;
    padding: 3px;
    border: 1px dotted black;
}

.hexEditorPane pre {
    margin: 0px;
    padding: 0px;
    width: auto; 
    height: auto;
    
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */  
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+
}

div.autosize { display: table; width: 1px; }
div.autosize > div { display: table-cell; }
