{% extends "base_1col.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h2>Privacy Policy</h2>
<p>Hacker's Edge is committed to our user base's privacy, the information we collect is strictly used
for administrative purposes.  During sign-up we only ask for a username, your email address, and a
password to secure your account.</p>
<p>Your password is one-way hashed using 
<a href="https://docs.djangoproject.com/en/1.9/topics/auth/passwords/#how-django-stores-passwords">Django's superior password hashing techniques</a>.</p>
<p>Hacker's Edge will never send you unsolicited emails, your email is used during registration to confirm
that you are indeed an organic lifeform capable of using a computational apparatus.  During the
lifetime of your account, you will receive notifications for forum replies to threads which you participated in,
there is work being done to enable preferences in the forum software, so that users can choose to disable this
option.</p>
<p>From time to time, depending on the current state of Hacker's Edge, we may send you a beta invitation, this will
be a one time email informing you that your account has been activated in the closed beta program, you will
see no further emails on the matter.  In the future, Hacker's Edge may send out newsletters regarding the
game, what's new, and what there is to expect.  When this is rolled out, there will also be an option to
easily opt'd out from such newsletters.</p>
<p>Your information is never provided to any 3rd party.  The only means a 3rd party can obtain information, is by
scrapping the forums for usernames, and their related posts.  Otherwise, your email address, and your
character account usernames are not publicly accessible.</p>
<h3>In-game player-created content</h3>
<p>Hacker's Edge provides the facilities for players to create their own in-game content.  This content cannot
be accessed by the general public, and can only be viewed by in-game character accounts.  Content you create
in-game is your responsibility to keep secure, as that is technically one of the arguable objectives of the game.
Therefore, you should not create content, which is otherwise potentially real-life private information.  Hacker's
Edge, and it's staff and moderators cannot remove in-game content which has otherwise been stolen in-game by other
players.  The whole point of this game is for players to hack other players in-game content and steal it for their
own advantage.</p>
<p>If you have any questions and/or concerns, please seek out either the game creator, or a game staff/moderator.</p>
{% endblock %}
