{% extends "pm/base.html" %}
{% load hackers_edge %}

{% block title %}Create Help Center Guide{% endblock %}

{% block css %}
  .jtable th,td { color: #00ff00; text-align: left; }
{% endblock %}

{% block jquery %}$(".post_btn").button();{% endblock %}

{% block content %}
<h2>Create Help Center Guide</h2>
<div class="ui-widget">
<div class="ui-widget-header ui-corner-top">{% showicon "note" %}Create Help Center Guide</div>
<div class="ui-widget-content ui-corner-bottom">
<form action="{% url 'pmguide-add' %}" method="post">{% csrf_token %}
<table class="jtable">
{{form}}
</table>
<input type="submit" value="Create" class="post_btn" />
</form></div></div>
{% endblock %}
