{% extends "base.html" %}
{% load hackers_edge %}

{% block title %}Create Character{% endblock %}

{% block css %}
  .jtable th,td { color: #00ff00; text-align: left; }
{% endblock %}

{% block jquery %}$(".post_btn").button();{% endblock %}

{% block content %}
<h2>Hacker's Edge: Create Character</h2>
<div class="ui-widget">
<div class="ui-widget-header ui-corner-top">{% showicon "note" %}Tips for newcomers!</div>
<div class="ui-widget-content ui-corner-bottom">
<p>Let me explain the character creation a bit for you in brief.</p>
<p>Username and password should be straightforward, these are what you will sign into the game world using.</p>
<p>The <strong>Network</strong> dropdown allows you to select a particular in-game network, this more or less chooses
which IP address your initial machine is assigned.  More networks will be available and vanish as time goes on.</p>
<p>The most confusion selection here is the <strong>Machine type</strong>.  Depending what you select here can drastically
change your gameplay experience.  If you haven't played Hacker's Edge before, I highly recommend choosing 
<strong>HackerOS 65c02</strong>, it is currently the most user-friendly out of the bunch.</p>
<p>For more information on character creation and other topics, please visit the 
<a href="{% url 'help-topic' 'tutorials' %}">Tutorials</a>.</p>
</div></div><br/>
<div class="ui-widget">
<div class="ui-widget-header ui-corner-top">{% showicon "note" %}Create Character</div>
<div class="ui-widget-content ui-corner-bottom">
<form action="{% url 'create_character' %}" method="post">{% csrf_token %}
<table class="jtable">
{{form}}
</table>
<input type="submit" value="Create" class="post_btn" />
</form></div></div>
{% endblock %}
