{% extends "base_1col.html" %}
{% load url from future %}

{% block title %}Password reset confirmation{% endblock %}

{% block jquery %}
  $("#reset_btn").button();
{% endblock %}

{% block content %}
{% if validlink %}
<h2>Enter new password</h2>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" method="post">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Change my password" id="reset_btn" />
</form>
{% else %}
<h2>Password reset unsuccessful</h2>
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %}